* {
  box-sizing: border-box; }

html {
  margin: 0;
  padding: 0;
  font-family: "Open-sans", arial, sans-serif;
  color: #eee; }

body {
  margin: 0;
  padding: 0;
  background: #666; }

header {
  padding: 25px;
  background: #444444;
  text-align: center;
  font-size: 18px; }

main {
  width: 50%;
  min-width: 800px;
  margin: 100px auto;
  padding: 0 120px 120px;
  position: relative; }

.card {
  border: 2px solid #8a6d3b;
  border-radius: 6px;
  color: #8a6d3b;
  background-color: #fcf8e3;
  padding: 50px; }

.yes,
.no,
.skip {
  width: 100px;
  height: 100px;
  position: absolute;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  text-align: center;
  font-size: 80px;
  line-height: 90px;
  color: white; }

.yes,
.no {
  border-radius: 100px;
  border: 5px solid #444444;
  top: 20px; }

.yes {
  left: 0;
  line-height: 100px;
  background: #d6e9c6;
  color: #3c763d;
  border-color: #3c763d;
  transition: all 0.2s ease-in; }
  .yes:hover {
    background-color: #dff0d8;
    box-shadow: 0 0 30px 0 #d6e9c6;
    transition: all 0.2s ease-in; }

.no {
  right: 0;
  background: #ebccd1;
  color: #a94442;
  border-color: #a94442;
  transition: all 0.2s ease-in; }
  .no:hover {
    background-color: #f2dede;
    box-shadow: 0 0 30px 0 #ebccd1;
    transition: all 0.2s ease-in; }

.skip {
  width: 100px;
  height: 100px;
  background-color: #3f3f3f;
  border: 5px solid #eee;
  left: 50%;
  bottom: 0;
  margin-left: -50px; }

aside header {
  text-align: left;
  border-bottom: 1px solid black; }

footer {
  display: none;
  width: 100%;
  color: #bbb;
  background: #444444;
  text-align: center;
  font-size: 12px;
  padding: 12px 0; }
  footer a {
    color: #ccc; }
