$buttonSize: 100px;
$barColor: #444;
$all: all .2s ease-in; 

* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    font-family: "Open-sans", arial, sans-serif;
    color: #eee;
}

body {
    margin: 0;
    padding: 0;
    background: #666;
}

header {
    padding: 25px;
    background: $barColor;
    text-align: center;
    font-size: 18px;

    .button {
        cursor: pointer;
        display: inline-block;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        color: #eee;

        &.left {
            float: left;
        }

        &.right {
            float: right;
        }
    }
}

main {
    width: 50%;
    min-width: 800px;
    margin: $buttonSize auto;
    padding: 0 $buttonSize+20 $buttonSize+20;
    position: relative;
}

.card {
    border: 2px solid #8a6d3b;
    border-radius: 6px;
    color: #8a6d3b;
    background-color: #fcf8e3;
    padding: $buttonSize / 2;
}

.yes,
.no,
.skip {
    width: $buttonSize;
    height: $buttonSize;
    position: absolute;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    text-align: center;
    font-size: $buttonSize * 0.8;
    line-height: $buttonSize * 0.9;
    color: white;
}

.yes,
.no {
    border-radius: $buttonSize;
    border: 5px solid $barColor;
    top: 20px;
}

$yesDark: #3c763d;
$yesLight: #d6e9c6;
$yesLighter: #dff0d8;
.yes {
    left: 0;
    line-height: $buttonSize;
    background: $yesLight; 
    color: $yesDark;
    border-color: $yesDark;
    &:hover {
        background-color: $yesLighter;
        box-shadow: 0 0 30px 0 $yesLight;
        transition: $all;
    }
    transition: $all;
}

$noDark: #a94442;
$noLight: #ebccd1;
$noLighter: #f2dede;
.no {
    right: 0;
    background:$noLight;
    color: $noDark;
    border-color: $noDark;
    &:hover {
        background-color: $noLighter;
        box-shadow: 0 0 30px 0 $noLight;
        transition: $all;
    }
    transition: $all;
}

.skip {
    width: $buttonSize;
    height: $buttonSize;
    background-color: #3f3f3f;
    border: 5px solid #eee;
    left: 50%;
    bottom: 0;
    margin-left: -$buttonSize/2;
    &:hover {
        background-color: #444;
        box-shadow: 0 0 30px 0 #ccc;
        transition: $all;
    }
    transition: $all;
}


aside {
    header {
        text-align: left;
        border-bottom: 1px solid black;
    }
}

footer {
    display: none;
    width: 100%;
    color: #bbb;
    background: $barColor; 
    text-align: center;
    font-size: 12px;
    padding: 12px 0;

    a {
        color: #ccc;
    }
}

